*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 50vh;
}
img{
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
p{
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}